<!DOCTYPE <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>MVCTASK</title></head>
    <body>
        <nav class="navbar" />
        <h1>Navbar</h1>
        </nav>
        @RenderBody();
        <footer class="foooter"/>
        <h1>Footer</h1>
        </footer>

    </body>
</html>