@model Employee
<h1>@Model.Name</h1>
<div>
    <p>Name:</p><p>@Model.Name</p></div>
<div>
    <P>FullAdress:</p><p>@Model.FullAdress</p>
</div>
<div>
    <P>Position:</p><p>@Model.Position.Name</p>
</div>
<div>
    <P>Image:</p><img src="/uploads/places/@Model.ImageUrl"/>
</div>